/*body properties*/
body {
    background-image: url("../Photos/samplePhotoiphone8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    overflow-x:hidden;
    height:100vh;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    background-color: rgb(0, 0, 0);
    position:relative;
    overflow:overlay;
  }

  /*to make using rem unit easier */
html {
    font-size: 62.5%;
  
  }

  /* font effects */
@font-face {
    font-family: mainFont;
    src: url(/Font/Perfect\ DOS\ VGA\ 437.ttf);
  }

  /* Navbar Animation */

#move {
    animation: movement linear 1s;
    height:0;
  }

  /*for content to move upwards */
@keyframes movement {
    0%   {margin-top:20px;}
    25% {margin-top:0px;}
  }

    /*flex container for topbar */
.flex-container.two {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right:0.5rem;
  }

  /*logo image */
#logo {
    margin-top: 20px;
    margin-left: 15px;
    max-width: 6.5rem;
    min-height: 3.9rem;
    animation: fadeInAnimation linear 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  /*flex container for the dropdown */
#dropdownFlex {
    margin-bottom:15px;
  }

  /*outside of dropdown*/
.dropdown {
    float: right;
    width: auto;
    padding-top: 26px;
    animation: fadeInAnimation linear 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  /*inside of dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.171);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    min-width: auto;
    overflow: auto;
    margin-top: 5px;
    max-width: 9.1rem;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-x:hidden;
  }

  /*properties of dropdown links */
.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 3px;
  }

  /*hover property for dropdown links */
.dropdown-content a:hover {
    color: rgba(255, 255, 255, 0.515);
  
  }

/*line divider for dropdown links */
hr.divider {
    max-width: 100%;
    margin-right: 10px;
    border-top: 0.1px solid rgba(255, 255, 255, 0.481);
    border-bottom: none;
  }

  /*second font */
.font2 {
    font-family: mainFont;
    font-size: 1.0rem;
  }

  /*'know yourself' dropdown text */
#knowYourself {
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.0rem;
    margin-right: 1px;
    color: white;

  }

  .fa-solid.fa-sort-down.fa-xl {
    font-size:1.6rem;
    position:absolute;
    margin-top:0.2rem;
    margin-left:0.3rem;
  }

  /*for content to fade in gradually*/
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  /*flex container for 'typed.js' text */
.flex-container.three {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:90vh;
  list-style-type: none;
}

/* main section nested content */
#mainText {
    text-align: center;
    
    display:none;
  }

  /*properties of animated typewriter text */
#typed {
    font-family: mainFont;
    font-size: 1.0rem;
    color: rgb(255, 196, 0);
    
  }

  /*properties of parapgraph element */
p {
    text-shadow:black;
  }

  /*cursor animation property */
.typed-cursor {

    color: white;
  }

  /*contact me link */
#connect {
    float: right;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.0rem;
    margin-right: 8px;
    color: white;
    margin-top: 30px;
    animation: fadeInAnimation linear 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-bottom:18px;
  }

  /*element to center container */
#centerContainer {
    padding:0;
    align-items: center;
  }

  /*container for main content */
#content-container {
    width: 100%;
    max-height:55rem;
    background-color: rgba(30, 30, 30, 0.171);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow-x:hidden;
    overflow-y:auto;
    padding:0;
    animation: mainContent linear 1s;
    animation-delay: 300ms;
    opacity:0;
    animation-fill-mode: forwards;
    padding-bottom:15px;
    
  }

  /*main content */
#main-content {
    animation: mainContent linear 1s;
    animation-delay: 300ms;
    opacity:0;
    animation-fill-mode: forwards;
  }

  /*flex container for main content in introduction */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right:20px;
    margin: 0;
    list-style: none;
    align-items: center;
  }

  /*search icon */
.fa-solid.fa-magnifying-glass.fa-lg {
    color:white;
    cursor: pointer;
  }

  /*know yourself heading */
#know {
    font-family: Arial;
    color:white;
    font-size:1.6rem;
  }

  /*menu property */
#menu {
    cursor:pointer;
  }

  /*container to centre image */
#centerPhoto {
    text-align: center;
  }

  /*properties of image */
#Ruggiero {
    border-radius:10px;
    margin:auto;
    width:211.58px; 
    height:211.58px;
  }

  /*main text subheading */
#subheading {
    font-family: Arial;
    font-weight: bold;
    color: white;
    font-size:1.3rem;
    text-align: center;
  }

  /*main text paragraph */
#intro-para {
    font-family: mainFont;
    font-size: 1.5rem;
    color:white;
    padding-right:20px;
    padding-left:20px;
    
  }

  /*right arrow icon */
#rightArrow {
    float:right;
    margin-right:25px;
    color:white;
    margin-bottom:10px;
    animation: mainContent linear 1s;
    animation-delay: 300ms;
    opacity:0;
    animation-fill-mode: forwards;
    cursor:pointer;
  }

  /*main animations */

@keyframes mainContent{
    0% {
      opacity: 0;
      display:none;
  }
  100% {
      opacity: 1;
      display:block;
  }
  }

  /*side navigation */
.sidenav {
    height: auto;
    width: 0;
    position:absolute;
    z-index: 1;
    border-radius:10px;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
    font-family: mainFont;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 0);
    
  }

  /*hover property of side nav */
.sidenav a:hover {
    color: rgba(255, 255, 255, 0.515);
  }

  /*side navigation links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.0rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  /*close button of sidenav */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3.6rem;
    margin-left: 50px;
  }

  /* x icon of sidenav*/
#cross {
    position:absolute;
    margin-top:10px;
    
  }

  /*'introduction' onclick link to load content via jquery function */
#loadContent {
    cursor: pointer;
  }

  /*element to center divider */
#centerDiv {
    margin:auto;
  }

  /*container of divider */
#dividerContainer {
    max-width:inherit;
    padding-left:20px;
    padding-right:20px;
    
  }

  /*divider properties */
hr.divider2 {
    max-width:100%;
    border-top: 0.1px solid rgba(255, 255, 255, 0.481);
    border-bottom: none;
    position:relative;
  }

  /*'the nature of humans' onclick link to load content via jquery function */
#loadContent2 {
    cursor: pointer;
  }

   /*side nav container */
#containSideNav {
  
  
    position:relative;
  }

  /*second side navigation */
#sidenav2 {
    height: 80vh;
    width: 0;
    position:absolute;
    z-index: 1;
    border-radius:10px;
    overflow-x: hidden;
    padding-top: 50px; 
    transition: 0.5s;
    background-color: rgba(30, 30, 30, 0);
    right:0;
    
  }

  /*close button of 2nd sidenav */
#sidenav2 .closebtn {
    position: absolute;
    top: 0;
    
    font-size: 3.6rem;
    
  }

  /*second side nav links */
#sidenav2 a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 2.0rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  /*mobile responsive design*/
@media screen and (min-width:320px) and (max-width: 374px) {
    #typed {
      
      font-size: 0.9rem;
      
      
    }
    #logo {
      max-width: 5.5rem;
      min-height: 2.9rem;
    }
    #knowYourself {
      
      font-size: 0.5rem;
      
      
    }
    #downArrow {
      font-size:1.6rem;
      
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 8.6rem;
      
    }
    #Ruggiero {
      max-width:180px; 
      max-height:180px;
    }
    #intro-para {
      font-size: 1.3rem;
      padding-right:10px;
      padding-left:10px;
      
    }
    #know {
      
      font-size:10px;
    }
    
    
  }
  /*mobile responsive design*/
  @media screen and (min-width: 375px) and (max-width:413px) {
    #typed {
      
      font-size: 1.1rem;
      
      
    }
    .flex-container.three {
      margin-top:1.0rem;
    }
    #logo {
      max-width: 6.5rem;
      min-height: 3.9rem;
    }
    #knowYourself {
      
      font-size: 1.0rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 9.1rem;
      
    }
  }
  /*mobile responsive design*/
  @media screen and (min-width: 414px) and (max-width:767px) {
    #typed {
      
      font-size: 1.3rem;
      
      
    }
    .flex-container.three {
      margin-top:1.1rem;
    }
  }
  /*desktop responsive design*/
  @media screen and (min-width: 768px) and (max-width:833px) {
    body {
      background-image: url("../Photos/samplePhoto.png");
    }
    #typed {
      
      font-size: 1.9rem;
      
      
    }
    .flex-container.three {
      margin-top:2rem;
    }
    #logo {
      max-width: 9rem;
      min-height: 6.4rem;
      margin-left:2rem;
    }
    #knowYourself {
      
      font-size: 1.5rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      margin-right:2rem;
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 13.4rem;
      padding-bottom:1rem;
    }
    .typed-cursor {
  
      font-size:1.6em;
    }
    .font2 {
      font-family: mainFont;
      font-size: 1.6rem;
    }
    #centerContainer{
      padding-left:6rem;
      padding-right:6rem;
      padding-top:10rem;
    }
    #content-container {
      min-height:50rem;
    }
    #leftArrow {
      
      margin-top:200px;
      
    }
    
  }
  /*desktop responsive design*/
  @media screen and (min-width: 834px) and (max-width:911px) {
    body {
      background-image: url("../Photos/samplePhoto.png");
    }
    #typed {
      
      font-size: 1.9rem;
      
      
    }
    .flex-container.three {
      margin-top:2rem;
    }
    #logo {
      max-width: 9rem;
      min-height: 6.4rem;
      margin-left:2rem;
    }
    #knowYourself {
      
      font-size: 1.5rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      margin-right:2rem;
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 13.4rem;
      padding-bottom:1rem;
    }
    .typed-cursor {
  
      font-size:1.6em;
    }
    .font2 {
      font-family: mainFont;
      font-size: 1.6rem;
    }
    #centerContainer{
      padding-left:6rem;
      padding-right:6rem;
      padding-top:10rem;
    }
    #content-container {
      min-height:50rem;
    }
    #leftArrow {
      
      margin-top:200px;
      
    }
  }
  /*desktop responsive design*/
  @media screen and (min-width: 912px) and (max-width:1111px) {
    body {
      background-image: url("../Photos/samplePhoto.png");
    }
    #typed {
      
      font-size: 2.4rem;
      
      
    }
    .flex-container.three {
      margin-top:4rem;
    }
    #logo {
      max-width: 10.5rem;
      min-height: 7.9rem;
      margin-left:2rem;
    }
    #knowYourself {
      
      font-size: 2rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      margin-right:2rem;
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 18.4rem;
      padding-bottom:1rem;
    }
    .typed-cursor {
  
      font-size:1.6em;
    }
    .font2 {
      font-family: mainFont;
      font-size: 2rem;
    }
    #centerContainer{
      padding-left:6rem;
      padding-right:6rem;
      padding-top:10rem;
    }
    #content-container {
      min-height:50rem;
    }
    #leftArrow {
      
      margin-top:200px;
      
    }
  }
  /*desktop responsive design*/
  @media screen and (min-width: 1112px) and (max-width:1023px){
    body {
      background-image: url("../Photos/samplePhoto.png");
    }
    #typed {
      
      font-size: 1rem;
      
    }
    .flex-container.three {
      margin-top:4rem;
      margin-left:30rem;
      margin-right:30rem;
    }
    #logo {
      max-width: 6.5rem;
      min-height: 3.9rem;
      margin-left:2rem;
    }
    #knowYourself {
      
      font-size: 1rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      margin-right:2rem;
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 13.4rem;
    }
    .typed-cursor {
  
      font-size:1.6em;
    }
    .font2 {
      font-family: mainFont;
      font-size: 1.6rem;
    }
    #centerContainer{
      padding-left:6rem;
      padding-right:6rem;
      padding-top:10rem;
    }
    #content-container {
      min-height:50rem;
    }
    #leftArrow {
      
      margin-top:200px;
      
    }
  
  }
  /*desktop responsive design*/
  @media screen and (min-width: 1024px) and (max-width:1365px){
    body {
      background-image: url("../Photos/samplePhoto.png");
    }
    #typed {
      
      font-size: 2rem;
      
    }
    .flex-container.three {
      margin-top:4rem;
      margin-left:25rem;
      margin-right:25rem;
    }
    #logo {
      max-width: 6.5rem;
      min-height: 3.9rem;
      margin-left:2rem;
    }
    #knowYourself {
      
      font-size: 1rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      margin-right:2rem;
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 9.5rem;
    }
    .typed-cursor {
  
      font-size:1.6em;
    }
    .font2 {
      font-family: mainFont;
      font-size: 1.1rem;
    }
    #centerContainer{
      padding-left:6rem;
      padding-right:6rem;
      padding-top:10rem;
    }
    #content-container {
      min-height:50rem;
    }
    #leftArrow {
      
      margin-top:200px;
      
    }
  
  }
  /*desktop responsive design*/
  @media screen and (min-width: 1366px) and (max-width:1919px) {
    body {
      background-image: url("../Photos/samplePhoto.png");
    }
    #typed {
      
      font-size: 2rem;
      
    }
    .flex-container.three {
      margin-top:4rem;
      margin-left:30rem;
      margin-right:30rem;
    }
    #logo {
      max-width: 6.5rem;
      min-height: 3.9rem;
      margin-left:2rem;
    }
    #knowYourself {
      
      font-size: 1rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      margin-right:2rem;
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 9.4rem;
    }
    .typed-cursor {
  
      font-size:1.6em;
    }
    .font2 {
      font-family: mainFont;
      font-size: 1.1rem;
    }
    #centerContainer{
      padding-left:30rem;
      padding-right:30rem;
      padding-top:5rem;
    }
    #content-container {
      min-height:50rem;
    }
    #leftArrow {
      
      margin-top:200px;
      
    }
  
  }
  
  /*desktop responsive design*/
  @media screen and (min-width: 1920px){
    body {
      background-image: url("../Photos/samplePhoto.png");
    }
    #typed {
      
      font-size: 1.9rem;
      
      
    }
    .flex-container.three {
      margin-top:4rem;
      margin-left:45rem;
      margin-right:45rem;
    }
    #logo {
      max-width: 10rem;
      min-height: 7.4rem;
      margin-left:2rem;
    }
    #knowYourself {
      
      font-size: 1.5rem;
      
      
    }
    #downArrow {
      font-size:1.6em;
      margin-right:2rem;
    }
    .dropdown-content {
      margin-top: 5px;
      max-width: 18.4rem;
      padding-bottom:1rem;
    }
    .typed-cursor {
  
      font-size:1.6em;
    }
    .font2 {
      font-family: mainFont;
      font-size: 1.6rem;
    }
    #centerContainer{
      padding-left:6rem;
      padding-right:6rem;
      padding-top:10rem;
    }
    #content-container {
      min-height:50rem;
    }
    #leftArrow {
      
      margin-top:200px;
      
    }
  
  }